#root {
  width: 100%;
  padding: 24px;
  min-height: 100svh;
  background-color: #f1f1f1;
}
.main {
  width: 100%;
  min-height: 100svh;
}
.article {
  width: 100%;
  display: flex;
  min-height: 100svh;
  align-items: center;
  justify-content: center;
}
.section {
  width: 100%;
  display: flex;
  max-width: 1024px;
  min-height: 100svh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.grid {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
}
.grid__image {
  width: 100%;
  height: auto;
  display: block;
}
/* .container {
  perspective: 1000px;
  display: inline-block;
}
.skeleton {
  width: 250px;
  height: 350px;
  background: #f1f1f1;
}
.card {
  width: 375px;
  height: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
  transform-style: preserve-3d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 414px) {
  .card {
    width: 100%;
  }
}
.card:hover {
  transform: rotateY(15deg) rotateX(-10deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
.card__image {
  width: 100%;
  height: auto;
  display: block;
} */
